.container {
    height: 100%;
    max-height: -webkit-fill-available;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 16px;
    margin: 10px;
    border: 1px solid rgb(39, 39, 39);
    background-color: beige;
    overflow: auto;

    .personDetails {
        display: flex;
        flex-direction: column;
    }

    .heading {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        mat-icon {
            margin-left: 10px;
        }
    }
}


.container .photos {
    display: flex;
    flex-direction: column;

    img {
        object-fit: contain;
    }

    .files,
    .fileUpload {
        display: flex;
        justify-content: space-evenly;
    }

    .fileUpload {
        margin: 10px 0;

        .input {
            display: none;
        }

        .fileInput {
            display: flex;
            align-items: center;

            p {
                margin: 0;
            }

            .invalid1,
            .invalid2 {
                color: red;
            }
        }

        mat-icon {
            height: 20px;
            font-size: 20px;
            width: 20px;
        }

        button {
            margin-left: 20px;
        }
    }
}

.container .mat-form-field,
.buttons,
form {
    width: 100%;
}

.container .buttons {
    display: flex;
    justify-content: space-evenly;

    button {
        margin-top: 8px;
        width: 149px;
    }
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}