// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((color: (primary: $frontend-primary,
                accent: $frontend-accent,
                warn: $frontend-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: beige;
}


.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0.6em 0 !important;
}


.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: rgb(0 0 0 / 20%);
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgb(0 0 0 / 20%);
}

.mat-form-field-label {
    color: rgb(0 0 0 / 80%);
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0 0 0 / 80%);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: sandybrown;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: sandybrown;
}

.mat-input-element {
    caret-color: sandybrown;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled, 
.mat-raised-button.mat-primary.mat-button-disabled,
.mat-mini-fab.mat-primary.mat-button-disabled, 
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-raised-button.mat-primary.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-primary.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #202020;
}


