    
.container{
    background-color: rgba(222, 183, 100, 0.74);
}
    @media screen and (max-width: 768px) {
        .container{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .tree, .details{width: 100%;}
    }
    @media screen and (min-width: 767px ){
        .container{
            display: flex;
            height: 100%;

        } 
        .tree{
            width: 40%;
        }
        .details{
            width: 60%;
        }
    }
